<div class="container">
    <form method="post">
        <div class="form-text">
            <div class="col-sm-8"><h2>Add car model</h2></div>
        </div>
        <div class="mb-3">
            <label for="carModelNameInput" class="form-label">Name</label>
            <input name="carModelName" class="form-control" id="carModelNameInput" required>
        </div>

        <div class="mb-3">
            <label for="carBrandInput" class="form-label">Brand</label>
            <select name="carBrandId" id="carBrandInput" class="form-select" aria-label=".form-select-sm example" required>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCarBrands", "Car")",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, item) {
                        $("#carBrandInput").append($("<option>", {
                            value: item.id,
                            text: item.name
                        }));
                    });
                    console.log(result);
                }
            });
        });
    </script>
}
