<div class="container">
    <form method="post">
        <div class="form-text">
                <div class="row">
                    <div class="col-sm-8"><h2>Add car brand</h2></div>
                </div>
            </div>
        <div class="mb-3">
            <label for="carBrandNameInput" class="form-label">Name</label>
            <input name="carBrandName" class="form-control" id="carBrandNameInput" required>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-block">Add</button>
        </div>
    </form>
</div>
