<link href="~/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <div class="form-text">
            <div class="col-sm-8"><h2>Add order</h2></div>
        </div>

        <div class="mb-3">
            <label for="clientInput" class="form-label">Client</label>
            <select name="clientId" id="clientInput" class="form-select" aria-label=".form-select-sm example" required>
            </select>
        </div>

        <div class="mb-3">
            <label for="carInput" class="form-label">Car</label>
            <select name="carId" id="carInput" class="form-select" aria-label=".form-select-sm example" required>
            </select>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input name="testDriveNeeded" type="checkbox" id="testDriveNeededInput" class="form-check-input" value="true">
                <label for="testDriveNeededInput" class="form-label">Test-drive needed</label>
            </div>
        </div>

        <div class="mb-3">
            <label for="orderStatusInput" class="form-label">Status</label>
            <select name="orderStatusId" id="orderStatusInput" class="form-select" aria-label=".form-select-sm example" required>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>


@section Scripts {
    <script src="~/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOrderStatuses", "Order")",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, item) {
                        $("#orderStatusInput").append($("<option>", {
                            value: item.id,
                            text: item.name
                        }));
                    });
                    console.log(result);
                }
            });

            $("#clientInput").select2({
                theme: "bootstrap-5",
                placeholder: "Select",
                ajax: {
                    type: "POST",
                    url: "@Url.Action("SearchClients", "Client")",
                    dataType: "json",
                    data: function (params) {
                        return {
                            searchWord: params.term
                        };
                    },
                    processResults: function (data, params) {
                        console.log(data);
                        return {
                            results: data
                        };
                    }
                }
            });

            $("#carInput").select2({
                theme: "bootstrap-5",
                placeholder: "Select",
                ajax: {
                    type: "POST",
                    url: "@Url.Action("SearchCars", "Car")",
                    dataType: "json",
                    data: function (params) {
                        return {
                            searchWord: params.term
                        };
                    },
                    processResults: function (data, params) {
                        console.log(data);
                        return {
                            results: data
                        };
                    }
                }
            });
        });
    </script>
}
