<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg">Clients</button>
    </div>
    <hr />
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg">Orders</button>
    </div>
    <hr />
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg">Car brands</button>
    </div>
    <hr />
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg">Car models</button>
    </div>
    <hr />
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg">Cars</button>
    </div>
</div>
