<div class="container">
    <div class="row">
        <a class="btn btn-primary btn-lg">Clients</a>
    </div>
    <hr />
    <div class="row">
        <a class="btn btn-primary btn-lg">Orders</a>
    </div>
    <hr />
    <div class="row">
        <a asp-area="" asp-controller="admin" asp-action="carbrands" class="btn btn-primary btn-lg">Car brands</a>
    </div>
    <hr />
    <div class="row">
        <a asp-area="" asp-controller="admin" asp-action="carmodels" class="btn btn-primary btn-lg">Car models</a>
    </div>
    <hr />
    <div class="row">
        <a class="btn btn-primary btn-lg">Cars</a>
    </div>
</div>
